
@using MedBook.Models.ViewModels
@using MedBook.Models.Enums

@model BearingIndVM

<h4>Добавить новый базовый показатель</h4>

<form asp-controller="Indicator" asp-action="AddNewBearing" method="post">
    <table>
        <tbody>
            <tr>
                <td class="text-label">Наименование </td><td><input asp-for="Name"/></td>
            </tr>
            <tr>
                <td class="text-label">Тип </td><td><select asp-for="Type">
                        <option value="0" selected>Цифровой</option>
                        <option value="1">Обнар/Не обнар</option>
                      </select></td>
            </tr>
            <tr>
                <td class="text-label">Описание </td><td><input asp-for="Description" /></td>
            </tr>
            <tr>
                <td class="text-label">Референсный МИН </td><td><input asp-for="ReferenceMin"/></td>
            </tr>
            <tr>
                <td class="text-label">Референсный МАКС </td><td><input asp-for="ReferenceMax"/></td>
            </tr>
            <tr>
                <td class="text-label">Ед. измерения </td><td><input asp-for="Unit" /></td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Добавить" />
    
</form>
<br />
<div>
    <p>Список базовых показателей</p>
    <table border="1">
        <thead>
            <tr>
                <th class="text-header-wide">Name</th><th class="text-header">Type</th><th class="text-header-wide">Description</th><th class="unit-header">Unit</th><th class="digit-header">MIN Reference</th><th class="unit-header">MAX Reference</th>
                <th class="editors-header">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var bi in ViewBag.BearingList)
            {
                <tr>
                    <td class="text-content">@bi.Name</td><td class="text-content">@EnumConverter.TypeToString(bi.Type)</td><td class="text-content">@bi.Description</td>
                    <td class="unit-content">@bi.Unit</td><td class="digit-content">@bi.ReferenceMin</td><td class="digit-content">@bi.ReferenceMax</td><td class="editors-content"><a asp-controller="Indicator" asp-action="EditBearing" asp-route-id="@bi.Id">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<input type="button" value="Назад" onclick="window.location.href='@Url.Action("Index", "Indicator")'" />
