@using System.Text.Json;
@using System.Text.Json.Serialization;

@model MedBook.Models.ViewModels.IndicatorVM
<form asp-controller="Indicator" asp-action="Edit">
    <h4>Редактирование параметров показателя</h4>
    <div>
        <table border="0">
            <tbody>
                <tr>
                    <td class="text-label">Наименование </td>
                    <td><input asp-for="Name" placeholder="@Model.Name" class="form-control" /></td>
                </tr>
                <tr>
                    <td class="text-label">Базовый показатель </td>
                    <td>
                        <select id="bearingIndicators" onchange="GetBearingIndicator()" class="form-control">
                            @foreach (var indicator in ViewBag.BearingIndicators)
                            {
                                @if (indicator.Id == Model.BearingIndicatorId)
                                {
                                    <option value=@JsonSerializer.Serialize(indicator) selected>@indicator.Name</option>
                                    ;
                                }
                                else
                                {
                                    <option value=@JsonSerializer.Serialize(indicator)>@indicator.Name</option>
                                    ;
                                }
                            }
                        </select>
                        <input type="hidden" id="modelBearingIndicatorId" asp-for="BearingIndicatorId" />
                    </td>
                </tr>
                <tr>
                    <td class="text-label">Единицы измерения </td>
                    <td><input asp-for="Unit" placeholder="@Model.Unit" class="form-control" id="unit" readonly /></td>
                </tr>
                <tr>
                    <td class="text-label">Минимальное референсное значение, ед .изм. </td>
                    <td><input asp-for="ReferentMin" placeholder="@Model.ReferentMin" class="form-control" id="referentMin" readonly /></td>
                </tr>
                <tr>
                    <td class="text-label">Максимальное референсное значение, ед. изм. </td>
                    <td><input asp-for="ReferentMax" placeholder="@Model.ReferentMax" class="form-control" id="referentMax" readonly /></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Изменить" class="btn btn-secondary" />
                        <input type="button" value="Назад" onclick="window.location.href = '@Url.Action("Index", "Indicator")'" class="btn btn-secondary" />
                    </td>
                </tr>
            </tbody>
        </table><br />
    </div>
</form>
