@using MedBook.Models.ViewModels
@using MedBook.Models.Enums

@model PatientEditVM

<h4>Patient Editing form</h4>
<p>Patient ID : @Model.Id</p>
<form asp-controller="Patient" asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <table>
        <tbody>
            <tr>
                <td class="text-label">First Name </td>
                <td><input id="userFName" class="form-control" asp-for="@Model.FName" placeholder="@Model.FName" /></td>
            </tr>
            <tr>
                <td class="text-label">LastName </td>
                <td><input id="userLName" class="form-control" asp-for="@Model.LName" placeholder="@Model.LName" /></td>
            </tr>
            <tr>
                <td class="text-label">Email </td>
                <td><input class="form-control" asp-for="@Model.Email" placeholder="@Model.Email" /></td>
            </tr>
            <tr>
                <td class="text-label">Age </td>
                <td><input class="form-control" asp-for="@Model.Age" placeholder="@Model.Age" /></td>
            </tr>
            <tr>
                <td class="text-label">Gender </td>
                <td>
                    <select class="form-control" name="gender" asp-for="@Model.Gender">
                        <option value="@Gender.MALE">Male</option>
                        <option value="@Gender.FEMALE">Female</option>
                        <option value="@Gender.UNKNOWN">Unknown</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="text-label">Doctor </td>
                <td>
                    <select class="form-control" name="docId" asp-for="@Model.DoctorId">
                        @foreach (var doc in ViewBag.Doctors)
                        {
                            <option value="@doc.Id">@doc.FName @doc.LName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="text-label">Block </td>
                <td>
                    <select id="isBlockSelector" class="form-control" onchange="GetUserBlockStatus()">
                        @if (Model.IsBlock == true)
                        {
                            <option value="true" selected>Заблокирован</option>
                            <option value="false">Разблокирован</option>
                        }
                        else
                        {
                            <option value="true">Заблокирован</option>
                            <option value="false" selected>Разблокирован</option>
                        }
                    </select>
                </td>
                <input type="hidden" asp-for="IsBlock" id="isBlock"/>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input class="btn btn-secondary mr-1" type="submit" value="Сохранить" />
                </td>
            </tr>
        </tbody>
    </table>
</form>