@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using MedBook.Models.ViewModels

@model ResearchVM

<form asp-controller="Patient" asp-action="ManualUpload">
    <label>Лаборатория : </label><input asp-for="Laboratory" type="text"/><br />
    <label>Дата : </label><input type="date" asp-for="ResearchDate" /><br />
    <input type="hidden" asp-for="PatientId" value="@ViewBag.PatientId" />
    <table>
        <thead>
            <tr>
                <th>Наименование</th><th>Значение</th><th>Ед. изм.</th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i < ViewBag.ItemNumber; i++)
            {
                <tr>
                    <td><input asp-for="@Model.Items[i].IndicatorName" type="text" list="indicators"/>
                        <datalist id="indicators">
                            @foreach (var s in ViewBag.Indicators)
                            {
                                <option>@s.Name</option>
                            }

                        </datalist></td>
                    <td><input asp-for="@Model.Items[i].IndicatorValue" type="number"/></td>
                    <td><input asp-for="@Model.Items[i].IndicatorUnit" type="text"/></td>
                </tr>
            }
        </tbody>
    </table><br />
    <input type="submit" value="Сохранить" />
</form>
