

@using MedBook.Models.ViewModels
@using System.Text.Json

@model ResearchVM

<form asp-controller="Patient" asp-action="ManualUpload">
<div asp-validation-summary="All"></div>
<table>
    <tbody>
        <tr>
            <td class="text-content">Лаборатория : </td><td><input asp-for="Laboratory" type="text" required/></td>
        </tr>
        <tr>
            <td class="text-content">Дата : </td><td><input type="date" asp-for="ResearchDate" required/></td>
        </tr>
    </tbody>
</table>
<input type="hidden" asp-for="PatientId" value="@ViewBag.PatientId" />
    <table>
        <thead>
            <tr>
                <th>Наименование</th><th>Значение</th><th>Ед. изм.</th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i < ViewBag.ItemNumber; i++)
            {
                <tr>
                    <td>
                        <input hidden id="@String.Concat("indName", i)" asp-for="@Model.Items[i].IndicatorName"/>
                        <select id="@String.Concat("indicators", i)" onchange="FillUnitValue(@i)">
                            <option value="">Наименование</option>
                                @foreach (var s in ViewBag.Indicators)
                                {
                                    <option value="@JsonSerializer.Serialize(s)">@s.Name</option>
                                }
                        </select>
                    </td>
                    <td><input asp-for="@Model.Items[i].IndicatorValue"/></td>
                    <td><input id="@String.Concat("unitValue", i)" asp-for="@Model.Items[i].IndicatorUnit" type="text" readonly/></td>
                </tr>
            }
        </tbody>
    </table><br />
    <input type="submit" value="Сохранить" />
</form>
