@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using MedBook.Models.ViewModels

@model ResearchVM

<form asp-controller="Patient" asp-action="ManualUpload">
<table>
    <tbody>
        <tr>
            <td class="text-content">Лаборатория : </td><td><input asp-for="Laboratory" type="text"/></td>
        </tr>
        <tr>
            <td class="text-content">Дата : </td><td><input type="date" asp-for="ResearchDate" /></td>
        </tr>
    </tbody>
</table>
<input type="hidden" asp-for="PatientId" value="@ViewBag.PatientId" />
    <table>
        <thead>
            <tr>
                <th>Наименование</th><th>Значение</th><th>Ед. изм.</th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i < ViewBag.ItemNumber; i++)
            {
                <tr>
                    <td><input asp-for="@Model.Items[i].IndicatorName" type="text" list="indicators"/>
                        <datalist id="indicators">
                            @foreach (var s in ViewBag.Indicators)
                            {
                                <option>@s.Name</option>
                            }

                        </datalist></td>
                    <td><input asp-for="@Model.Items[i].IndicatorValue" type="number"/></td>
                    <td><input asp-for="@Model.Items[i].IndicatorUnit" type="text" list="units"/>
                        <datalist id="units">
                            @foreach(var u in ViewBag.Indicators)
                            {
                                <option>@u.Unit</option>
                            }
                            
                        </datalist>
                </td>
                </tr>
            }
        </tbody>
    </table><br />
    <input type="submit" value="Сохранить" />
</form>
