

@using MedBook.Models.ViewModels
@using System.Text.Json

@model ResearchVM

<form asp-controller="Patient" asp-action="ManualUpload">
    <div asp-validation-summary="All"></div>
    <table>
        <tbody>
            <tr>
                <td class="text-content">Лаборатория : </td>
                <td><input asp-for="Laboratory" type="text" required class="form-control" /></td>
            </tr>
            <tr>
                <td class="text-content">Дата : </td>
                <td><input type="date" asp-for="ResearchDate" required class="form-control" /></td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex" style="height: 50px;">
        <div class="vr"></div>
    </div>
    <input type="hidden" asp-for="PatientId" value="@ViewBag.PatientId" />
    <table class="table w-auto table-bordered">
        <thead class="table-warning">
            <tr>
                <th>Наименование</th>
                <th>Значение</th>
                <th>Ед. изм.</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.ItemNumber; i++)
            {
                <tr style="justify-content:flex-start">
                    <td>
                        <input hidden id="@String.Concat("indName", i)" asp-for="@Model.Items[i].IndicatorName" />
                        <select class="form-control" style="width:250px" id="@String.Concat("indicators", i)" onchange="FillUnitValue(@i)">
                            <option selected>Наименование</option>
                            @foreach (var s in ViewBag.BearIndicators)
                            {
                                <option value="@JsonSerializer.Serialize(s)">@s.Name</option>
                            }
                        </select>
                    </td>
                    <td>
                        <div id="@String.Concat("indValueType", i)"></div>
                    </td>
                    <td><input id="@String.Concat("unitValue", i)" asp-for="@Model.Items[i].IndicatorUnit" type="text" readonly class="form-control-plaintext" /></td>
                </tr>
            }
        </tbody>
    </table><br />
    <input type="submit" value="Сохранить" class="btn btn-secondary" />
</form>
