@using MedBook.Models.Constants
<script src="~/lib/bootstrap-sortable/bootstrap-sortable.js"></script>
<script src="~/lib/moment/moment.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="~/lib/bootstrap-sortable/bootstrap-sortable.css" rel="stylesheet" type="text/css" />

@model MedBook.Models.Patient

<h4>Данные пациента</h4>

@if (Model == null)
{
    @ViewBag.Error
}
<form>
    <div>
        <label>Фамилия : <b>@Model.LName</b></label><br />
        <label>Имя : <b>@Model.FName</b></label><br />
        <label>Возраст : <b>@Model.Age</b></label><br />
        <label>Пол : @Patient.GenderToStrConverter(Model.Gender)</label><br />
        @if(Model.Doctor.FName != ItemConstants.DefaultDoctorName)
        {
            <label>Врач : <b>@Model.Doctor.FName @Model.Doctor.LName</b></label>
        }
        else
        {
            <label>Врач не назначен</label>
        }

    </div><br />
    <p>@ViewBag.ResearchError</p>
    @{
        if (ViewBag.ResearchList != null)
        {
            <div>
                <table id="detailedTable" class="table table-hover sortable">
                    <thead class="table-light">
                        <tr class="table-primary">
                            <th class="col-lg-2">Дата</th>
                            <th class="col-lg-2">Лаборатория</th>
                            <th class="col-lg-5">Комментарий</th>
                            <th class="col-lg-2">Подробно</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var research in ViewBag.ResearchList)
                            {
                                <tr>
                                    <td><span hidden>@research.ResearchDate.Ticks</span>@research.ResearchDate.ToShortDateString()</td>
                                    <td>@research.Order</td>
                                    @if (research.Comment != null)
                                    {
                                        <td>@research.Comment</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td><a asp-controller="Research" asp-action="ResearchDetailes" asp-route-id="@research.Id">Подробно...</a></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            <br />
        }
        <button asp-controller="Patient" asp-action="ResearchUpload" asp-route-id="@Model.Id" class="btn btn-secondary">Добавить документ</button>
        <button asp-controller="Patient" asp-action="AddNewResearch" asp-route-id="@Model.Id" class="btn btn-secondary">Внести вручную</button>
        @if (ViewBag.ResearchList != null)
        {
            <button asp-controller="Patient" asp-action="ShowFullReport" asp-route-id="@Model.Id" class="btn btn-secondary">Отчёт</button>
        }
    }
</form>
