
@model MedBook.Models.Patient

<h4>Данные пациента</h4>

@ViewBag.Error
<form>
    <div>
        <label>Фамилия</label>
        <p>@Model.LName</p>
        <label>Имя</label>
        <p>@Model.FName</p>
        <label>Возраст</label>
        <p>@Model.Age</p>
        <label>Пол</label>
        <p>@Patient.GenderToStrConverter(Model.Gender)</p>
    </div><br />
    @ViewBag.ResearchError
    <br />
    @{
        if(ViewBag.ResearchList != null)
        {
            <table border="1">
                <thead>
                    <tr>
                        <th style="width:30px">№</th><th style="width:120px; text-align:center">Дата</th><th style="width:fit-content; text-align:center">Лаборатория</th><th>Подробно</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                    int j = 0;
                    foreach(var research in ViewBag.ResearchList)
                    {
                            j++;
                        <tr>
                            <td>@j</td><td>@research.ResearchDate.ToShortDateString()</td><td>@research.Order</td>
                            <td><a asp-controller="Research" asp-action="ResearchDetailes" asp-route-id="@research.Id">Подробно...</a></td>
                        </tr>
                    }
                    }

                </tbody>
            </table><br />
        }
        <button asp-controller="Patient" asp-action="ResearchUpload" asp-route-id="@Model.Id">Добавить исследование</button>
    }


</form><br />
<form>
    <p>Статистика показателей :</p>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th style="width:30px">№</th><th style="width:150px; text-align:center">Наименование</th><th>Статистика</th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    
                    int i = 0;
                    foreach(var ind in ViewBag.IndicatorList)
                    {
                        i++;
                        <tr>
                            <td>@i</td><td>@ind.Name</td><td><a asp-controller="Patient" asp-action="ShowStatistics" asp-route-id="@ind.Id">Открыть</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</form>
