@model IndicatorStatisticsVM
@using MedBook.Models.ViewModels
@using System.Globalization;
@using System.Text.Json;

    


<h4>Статистика показателя - @Model.Name</h4>
<div id="chart" style="width:900px; height:500px"></div>
<div>
    <table id="statistics" border="1">
        <thead>
            <tr>
                <th>Дата</th><th>Значение</th><th>Ед. изм.</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var ind in Model.Items)
            {
                <tr>
                    <td>@ind.ResearchDate.ToShortDateString()</td><td>@ind.Value</td><td>@ind.Unit</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart()
    {
        const data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', @Html.Raw(Json.Serialize(Model.Name)));
        @foreach(var ind in Model.Items)
            {
                @:data.addRow([new Date(@ind.ResearchDate.ToString("yyyy, MM, dd")), Number(parseFloat(@ind.Value.ToString("F3", CultureInfo.InvariantCulture)).toFixed(3))]);
                @:console.log(@Html.Raw(Json.Serialize(Model.Name)));
            }

        var options =
        {
            hAxis: {
            title: 'Date'
                    },
            vAxis: {
            title: 'Value'
                    },
            title: 'Indicators graphs',
            width: 900,
            height: 500,
            curveType: 'function',
            legend: { position: 'bottom' }
        };
        console.log('start chart creating');
        var chart = new google.visualization.LineChart(document.getElementById('chart'));
        chart.draw(data, options);
    };

</script>