
@model MedBook.Models.Patient

<h4>Данные пациента</h4>

@ViewBag.Error
<form>
    <div>
        <label>Фамилия : <b>@Model.LName</b></label><br />
        <label>Имя : <b>@Model.FName</b></label><br />
        <label>Возраст : <b>@Model.Age</b></label><br />
        <label>Пол : @Patient.GenderToStrConverter(Model.Gender)</label>
        
    </div><br />
    @ViewBag.ResearchError
    <br />
    @{
        if(ViewBag.ResearchList != null)
        {
            <table border="1">
                <thead>
                    <tr>
                        <th style="width:30px">№</th><th style="width:150px; text-align:center">Дата</th><th style="width:200px; text-align:center">Лаборатория</th><th style="width:150px">Подробно</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                    int j = 0;
                    foreach(var research in ViewBag.ResearchList)
                    {
                            j++;
                        <tr>
                            <td>@j</td><td>@research.ResearchDate.ToShortDateString()</td><td>@research.Order</td>
                            <td><a asp-controller="Research" asp-action="ResearchDetailes" asp-route-id="@research.Id">Подробно...</a></td>
                        </tr>
                    }
                    }

                </tbody>
            </table><br />
        }
        <button asp-controller="Patient" asp-action="ResearchUpload" asp-route-id="@Model.Id">Добавить исследование</button>
        <button asp-controller="Research" asp-action="ManualEnter" asp-route-id="@Model.Id">Ввести вручную</button>
    }


</form><br />
       <form>
           @{
               if (ViewBag.ResearchList != null) { 

                   <p>Статистика показателей :</p>
                   <div>
                       @{
                           if (ViewBag.IndicatorList != null)
                           {


                               <table border="1">
                                   <thead>
                                       <tr>
                                           <th style="width:30px">№</th>
                                           <th style="width:150px; text-align:center">Наименование</th>
                                           <th>Статистика</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       @{

                                           int i = 0;
                                           foreach (var ind in ViewBag.IndicatorList)
                                           {
                                               i++;
                                               <tr>
                                                   <td>@i</td>
                                                   <td>@ind.Name</td>
                                                   <td><a href="/Patient/ShowStatistics?patientId=@Model.Id&indicatorId=@ind.Id">Открыть</a></td>
                                               </tr>
                                           }
                                       }
                                   </tbody>
                               </table>
                           }
                       }
                   </div>
                                           }
                   }
       </form>
