@model IndicatorStatisticsVM
@using MedBook.Models.ViewModels
@using System.Globalization;
@using System.Text.Json;

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>


<h4>Статистика показателя - @Model.Name</h4>
<div id="chart" style="width:900px; height:500px"></div>
<div>
    <table id="statistics" border="1" align="center">
        <thead>
            <tr>
                <th style="width: 150px; text-align:center">Дата</th><th style="width:150px; text-align:center">Значение</th><th style="width: 100px; text-align:center">Ед. изм.</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var ind in Model.Items)
            {
                <tr>
                    <td>@ind.ResearchDate.ToShortDateString()</td><td>@ind.Value</td><td>@ind.Unit</td>
                </tr>
            }
        </tbody>
    </table><br />
    
</div>

<form asp-controller="Patient" asp-action="SavePDF" method="post">
    <input asp-for="Name" type="hidden" value="@Model.Name"/>
    <input id="patId" asp-for="PatientId" type="hidden" value="@ViewBag.PatientId" />
    @for(var i = 0; i < Model.Items.Count(); i++)
            {
                <input asp-for="@Model.Items[i].Value" value="@Model.Items[i].Value" type="hidden"/>
                <input asp-for="@Model.Items[i].ResearchDate" value="@Model.Items[i].ResearchDate" type="hidden" />
                <input asp-for="@Model.Items[i].Unit" value="@Model.Items[i].Unit" type="hidden"/>
            }

    <input type="submit" value="Сохранить PDF"/>
</form>





<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart()
    {
        const data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', @Html.Raw(Json.Serialize(Model.Name)));
        @foreach(var ind in Model.Items)
            {
                @:data.addRow([new Date(@ind.ResearchDate.AddMonths(-1).ToString("yyyy, MM, dd")), Number(parseFloat(@ind.Value.ToString("F3", CultureInfo.InvariantCulture)).toFixed(3))]);
                @:console.log(@Html.Raw(Json.Serialize(Model.Name)));
            }

        var options =
        {
            hAxis: {
            title: 'Date'
                    },
            vAxis: {
            title: 'Value'
                    },
            pointSize: 10,
            title: 'Indicators graphs',
            width: 900,
            height: 500,
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart'));
        
        google.visualization.events.addListener(chart, 'ready', function () {

            console.log('chart ready 1');
            const patId = document.querySelector('#patId').value;
            const dataValue = { "ImageBase64": chart.getImageURI(), "PatId": patId };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetImageChart", "Patient")',
                data: dataValue,
                error: function (xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.statusText
                    alert('Error - ' + errorMessage);
                }
            });


        });



        console.log('start chart creating');
        chart.draw(data, options);
        console.log('chart ready');
    };


</script>

    