@model MedBook.Models.ViewModels.ResearchVM

<h4>Детализация исследования</h4>
<form asp-controller="Research" asp-action="Edit" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <table>
            <tbody>
                <tr>
                    <td class="text-content">Лаборатория : </td>
                    <td><input class="form-control" asp-for="Laboratory" type="text" placeholder="@Model.Laboratory" /></td>
                </tr>
                <tr>
                    <td class="text-content">Дата : </td>
                    <td><input class="form-control" type="date" asp-for="ResearchDate" placeholder="@Model.ResearchDate" /></td>
                </tr>
            </tbody>
        </table>
    </div><br />
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-sm-1">№</th><th class="col-lg-4">Наименование</th><th class="col-lg-2">Значение</th><th class="col-lg-1">Ед. изм.</th><th class="col-lg-2">Удалить</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach(var r in Model.Items)
                {
                    <tr>
                        <td>@i</td>
                        <td>@r.IndicatorName</td>
                        <td>@r.IndicatorValue</td>
                        <td>@r.IndicatorUnit</td>
                        <td><input type="button" value="Удалить" onclick="window.location.href = '@Url.Action("DeleteIndicator", "Research", new { researchId = Model.Id, indicatorName = r.IndicatorName, indicatorValue = r.IndicatorValue})'" class="btn btn-secondary"/></td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
    <input type="hidden" asp-for="PatientId" value="@Model.PatientId" />
    <div>
        <input type="submit" value="Сохранить" class="btn btn-secondary"/>
        <input type="button" value="Назад" onclick="window.location.href = '@Url.Action("ShowDetailes", "Patient", new { id = Model.PatientId})'" class="btn btn-secondary"/>
    </div>
</form>
