@model MedBook.Models.ViewModels.ResearchVM

<h4>Детализация исследования</h4>
<form asp-controller="Research" asp-action="ResearchDetailes">
    <div asp-validation-summary="All"></div>
    <div>
            <label>Фамилия : <b>@ViewBag.PatientLname</b></label><br />
            <label>Имя : <b>@ViewBag.PatientFname</b></label><br />
            <label>Возраст : <b>@ViewBag.PatientAge</b></label><br />
    </div>
    <div>
        <label>Лаборатория : @Model.Laboratory</label><br />
    </div>
    <div>
        <label>Дата : @Model.ResearchDate.ToShortDateString()</label><br />
    </div>
    <div>
        @{
            if (Model.Num != null) {
                <label>Номер заказа : @Model.Num</label>
            }
            else {
                <label>Номер заказа : Не определено</label>
            }
        }
    </div>
    <div>
        <table class="table table-hover">
            <thead class="table-light">
                <tr class="table-primary">
                    <th style="width:30px">№</th><th style="width:300px; text-align:left">Наименование</th><th style="width:100px; text-align:left">Значение</th><th style="width:150px; text-align:left">Ед. изм.</th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    int i = 0;
                    foreach(var ind in Model.Items)
                    {
                        i++;
                                <tr>
                                    @if (ind.IndicatorType == 0)
                                    {
                                        <td>@i</td>
                                        <td>@ind.IndicatorName</td>
                                        <td>@ind.IndicatorValue</td>
                                        <td>@ind.IndicatorUnit</td>
                                    }
                                    else
                                    {
                                        <td>@i</td>
                                        <td>@ind.IndicatorName</td>
                                        @if (ind.IndicatorValue == 0)
                                        {
                                            <td>Не обнаружено</td>
                                        }
                                        else
                                        {
                                            <td>ВЫДЕЛЕНО</td>
                                        }

                                        <td>@ind.IndicatorUnit</td>
                                    }

                                </tr>
            }
                }
            </tbody>
        </table>
    </div><br />
    <input type="button" value="Назад" onclick="window.location.href = '@Url.Action("ShowDetailes", "Patient", new { id = Model.PatientId})'" class="btn btn-secondary" />
    <input type="button" value="Редактировать" onclick="window.location.href = '@Url.Action("Edit", "Research", new { id = ViewBag.ResearchID})'" class="btn btn-secondary" />
</form>
