@model MedBook.Models.ViewModels.ResearchVM

<h4>Детализация исследования</h4>
<form asp-controller="Research" asp-action="ResearchDetailes">
    <div asp-validation-summary="All"></div>
    <div>
            <label>Фамилия : <b>@ViewBag.PatientLname</b></label><br />
            <label>Имя : <b>@ViewBag.PatientFname</b></label><br />
            <label>Возраст : <b>@ViewBag.PatientAge</b></label><br />
    </div>
    <div>
        <label>Лаборатория : @Model.Laboratory</label><br />
    </div>
    <div>
        <label>Дата : @Model.ResearchDate.ToShortDateString()</label><br />
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th style="width:30px">№</th><th style="width:250px; text-align:center">Наименование</th><th style="width:100px; text-align:center">Значение</th><th style="width:150px; text-align:center">Ед. изм.</th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    int i = 0;
                    foreach(var ind in Model.Items)
                    {
                        i++;
                <tr>
                    <td>@i</td><td>@ind.IndicatorName</td><td>@ind.IndicatorValue</td><td>@ind.IndicatorUnit</td>
                </tr>
            }
                }
            </tbody>
        </table>
    </div><br />
    <input type="button" value="Назад" onclick="window.location.href = '@Url.Action("ShowDetailes", "Patient", new { id = Model.PatientId})'" />
</form>
